@import "_/_variables";
@import "_/_mixins";

.contacts-section {
  position: relative;
  height: 481px;
  filter: drop-shadow(0 40px 40px rgba(43, 40, 40, 0.6));
  background-image: url("../assets/img/map-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts-section__location {
  position: absolute;
  top: 186px;
  right: 322px;
}

.contacts-section__cardboard {
  position: absolute;
  top: 38px;
  left: 109px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 70px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  background: $color-contacts-cardboard;
  padding: 23px 42px 26px 43px;
  max-width: 526px;
}

.cardboard__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: $color-white;
  padding-bottom: 26px;
  border-bottom: 1px solid $color-slider-button;
}

.div.cardboard__info {
  display: flex;
}

.cardboard__info {
  position: relative;
  padding-top: 15px;
  padding-bottom: 28px;
  padding-left: 34px;
  border-bottom: 1px solid $color-slider-button;
}

.info__address {
  padding-bottom: 20px;

  span {
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: $color-white;
    margin-bottom: 8px;
  }

  p {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: $color-simple-text;
    margin-bottom: 8px;

    &:before {
      content: "";
      display: block;
      background-image: url("../assets/icons/location-green.svg");
      height: 24px;
      width: 24px;
      position: absolute;
      top: 15px;
      left: 0;
    }
  }
}


.info__mail {
  span {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: $color-white;
  }

  p {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: $color-simple-text;
    margin-bottom: 8px;

    &:before {
      content: "";
      display: block;
      background-image: url("../assets/icons/mail.svg");
      height: 24px;
      width: 24px;
      position: absolute;
      top: 110px;
      left: 0;
    }
  }
}

.cardboard__reservation {
  display: flex;
  align-items: center;
  padding: 17px 0 30px 0;
}

.reservation__button {
  text-transform: uppercase;
  padding: 21px 22px;
  margin-right: 33px;
  margin-left: 9px;
}

.reservation__phone {
  span {
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    color: $color-white;
  }

  p {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: $color-simple-text;
  }
}

.cardboard__socials {
  @include flex-center;

  span {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: $color-white;
    margin-right: 15px;
  }

  svg {
    margin-left: 11px;
  }

  svg:hover {
    cursor: pointer;

    path {
      fill: $color-identical-green;
    }
  }
}