@import "_/_variables";
@import "_/_mixins";

.product-card-section__list {
  display: flex;
  padding-top: 10px;
}

.product-card-section__title {
  display: flex;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: $color-white;
  margin-bottom: 40px;
  margin-top: 52px;
  align-items: center;

  &:before {
    content: "";
    display: block;
    height: 33px;
    width: 4px;
    background-color: $color-identical-green;
    margin-left: 91px;
    margin-right: 19px;
  }
}

.product-card {
  position: relative;
  width: 325px;
  height: 385px;
  min-width: 325px;
  border-radius: 10px;
  background: $gradient-product-card-background;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.product-card__info {
  padding: 14px 16px 18px 20px;
}

.product-card__img {
  display: block;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.product-card__title-block {
  display: flex;
  justify-content: space-between;
}

.product-card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: $color-white;
}

.product-card__weight {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: $color-white;
  align-self: end;
}

.product-card__description {
  height: 34px;
  max-height: 34px;
  padding: 5px 0 15px 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: $color-simple-text;
}

.product-card__price-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 44px;
}

.product-card__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: $color-white;
}

.product-card__button {
  height: 44px;
  width: 137px;
  padding: 10px 16px 10px 19px;

  &:hover {
    cursor: pointer;
  }

  img {
    margin-left: 12px;
  }
}

.glider-contain__button_prev {
  left: 80px;
}

.glider-contain__button_next {
  right: 80px;
  transform: rotate(180deg);
}

.glider-contain__button {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  position: absolute;
  bottom: -36px;
  border: none;
  width: 54px;
  height: 22px;
  background: $color-slider-button;
  border-radius: 5px;
  padding: 3px 19px;

  &:hover {
    cursor: pointer;
    background: $color-identical-green;
  }
}

.product-counter {
  @include flex-center;
  width: 62px;
  height: 44px;

  &:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  }
}

.product-card__remove-button {
  &:before {
    content: "";
    display: block;
    height: 3px;
    width: 18px;
    border-radius: 20px;
    background-color: $color-white;
  }
}

.product-card__add-button {
  &:before {
    content: "";
    display: block;
    height: 3px;
    width: 18px;
    border-radius: 20px;
    background-color: $color-white;
  }

  &:after {
    content: "";
    display: block;
    height: 3px;
    width: 18px;
    border-radius: 20px;
    background-color: $color-white;
    transform: rotate(90deg);
    margin-left: -18px;
  }
}

.product-card__label{
  position: absolute;
  @include flex-center;
  top: -10px;
  right: -10px;
  width: 50px;
  height: 50px;
  color: $color-white;
  background: $color-identical-green;
  border-radius: 50%;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px
}

