@import "_/_variables";
@import "_/_mixins";

.product-section {
  display: flex;
  border-radius: 10px;
  background: $gradient-product-card-background;
  margin: 25px 112px 50px 118px;
  overflow: hidden;
}

.product-section__img {
  width: 599px;
  height: 399px;
}

.product-section__info-block {
  padding: 38px 0 25px;
  flex-grow: 1;
}

.info-block{
  padding: 0 151px 0 50px;
  width: 100%;
  box-sizing: border-box;
}

.info-block__description {
  margin-bottom: 115px;
}

.info-block__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $color-white;
  margin-bottom: 5px;
}

.info-block__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-simple-text;
  margin-bottom: 20px;
}

.info-block__weight {
  text-align: right;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-white;
}

.info-block__price-section {
  display: flex;
  margin-bottom: 30px;
}

.info-bock__buy-button {
  padding: 9px 0 9px 20px;
  margin-right: 25px;

  &:after {
    content: "";
    height: 32px;
    width: 51px;
    background-image: url("../assets/icons/shopping-bag.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: 20px;
  }
}

.info-block__price {
  @include flex-center;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $color-white;
}

.kbzhu-weight{
  font-size: 12px;
  line-height: 14px;
  color: $color-white;
}

.kbzhu-weight__titles {
  display: flex;
  justify-content: space-between;
  width: 298px;
  margin-left: 50px;
  font-weight: 300;
}

.kbzhu-weight__divider{
  margin: 5px 0;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

.kbzhu-weight__kkal{
  display: flex;
  justify-content: space-between;
  width: 298px;
  margin-left: 50px;
  font-weight: 500;
}

.related-products{
  margin-bottom: 84px;
  padding: 0 40px;
}