$gradient-brand-accent: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
$gradient-page-background: linear-gradient(360deg, #211F20 0%, #44403F 100%);

$color-white: #FFF;
$color-simple-text: #CFCFCF;
$color-dark-text: #403C3B;
$color-search-input-bg:#504B4A;