$gradient-brand-accent: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
$gradient-page-background: linear-gradient(360deg, #211F20 0%, #44403F 100%);
$gradient-footer-background: linear-gradient(270.7deg, #44403F 0.4%, #211F20 100%);
$gradient-product-card-background: linear-gradient(90deg, #494544 0%, #504B4A 100%);


$color-white: #FFF;
$color-simple-text: #CFCFCF;
$color-dark-text: #403C3B;
$color-search-input-bg:#504B4A;
$color-identical-green: #72A479;
$color-slider-button: #4E4948;
$color-contacts-cardboard: #2E2B2C;
$color-button-disabled: #A3A3A3;
$color-add-to-order-text: #C6CED1;
$color-ordering-sum-title: #A6A7AB;