extends ../layouts/pageLayout

block vars
    - var title = "Главная страница"
    - var bannerSrc = "assets/img/banners/header_banner.png"

block head
    link(rel="stylesheet" href="styles/products.css")
    link(rel="stylesheet" href="vendors/glider.min.css")
    script(src="vendors/glider.min.js" defer)
    script(src='scripts/slider.js' defer)

block content
    div.menu-list(id="menuList")
        div.menu-list__item(id="coldSnacks")
            include ../blocks/coldSnacksSection
        div.menu-list__item(id="hotSnacks")
            include ../blocks/hotSnacksSection
        div.menu-list__item(id="meatFood")
            include ../blocks/meatFoodSection
        div.menu-list__item(id="soups")
            include ../blocks/soupsSection
        div.menu-list__item(id="fishFood")
            include ../blocks/fishFoodSection
        div.menu-list__item(id="grillMenu")
            include ../blocks/grillMenuSection
        div.menu-list__item(id="brandedFood")
            include ../blocks/brandedFoodSection
        div.menu-list__item(id="drinks")
            include ../blocks/drinksSection
