extends ../layouts/pageLayout

block vars
    - var title = "Главная страница"
    - var bannerSrc = "assets/img/banners/header_banner.png"

block content
  div.menu-list(id="menuList")
    div.menu-list__item(id="coldSnacks")
    div.menu-list__item(id="hotSnacks")
    div.menu-list__item(id="meatFood")
    div.menu-list__item(id="soups")
    div.menu-list__item(id="fishFood")
    div.menu-list__item(id="grillMenu")
    div.menu-list__item(id="brandedFood")
    div.menu-list__item(id="drinks")