extends ../layouts/pageLayout

block head
  link(rel="stylesheet" href="styles/productPage.css")
  link(rel="stylesheet" href="styles/products.css")
  link(rel="stylesheet" href="styles/contactsSection.css")
  script(src="scripts/product.js" defer)
  script(src="scripts/basket.js" defer)

block vars
    - var title = "Страница товара"
    - var showBackButton = true

block content
  div(tagId="cardsSection")
    div.product-section(tagId="productCard")
      img.product-section__img(tagId="productCardImg")
      div.product-section__info-block
        div.info-block
          div.info-block__description
            h3.info-block__title(tagId="productCardTitle")
            div.info-block__text(tagId="productCardDescription")
            div.info-block__weight(tagId="productCardWeight")
          div.info-block__price-section
            button.button.info-bock__buy-button(tagId="productCardButton") Корзина
            button.button.info-block__remove-button.product-card-counter.button_hidden(tagId="productCardRemoveButton")
            div.info-block__price(tagId="productCardPrice")
            button.button.info-block__add-button.product-card-counter.button_hidden(tagId="productCardAddButton")
        div.kbzhu-weight
          div.kbzhu-weight__titles
            div Белки
            div Жиры
            div Углеводы
            div Ккал
          div.kbzhu-weight__divider
          div.kbzhu-weight__kkal
            div 17.23
            div 7.63
            div 22.35
            div 234
  div.related-products(tagId="cardsSection")
    include ../blocks/relatedProdactsBlock
  include ../blocks/contactsSection

