extends ../layouts/pageLayout

block head
  link(rel="stylesheet" href="styles/contactsSection.css")
  link(rel="stylesheet" href="styles/promotion.css")

block vars
    - var title = "Акции"
    - var promotionCards =[{title:"Без мяса? Здесь!",img:"assets/img/promotions/without-meat.png",text:"Самое время попробовать «Сырную» пиццу, «Маргариту», пиццу «Овощи и грибы», Пасту Четыре сыра, Томатный суп с гренками, Грибной Стартер, Рулетики с сыром, Картофель из печи, Картофельные оладьи или Греческий салат. Выберите свой вкус!",date:"31 июля."},{title:"Выгодное комбо c напитками",img:"assets/img/promotions/profitable-combo.png",text:"Самое время попробовать «Сырную» пиццу, «Маргариту», пиццу «Овощи и грибы», Пасту Четыре сыра, Томатный суп с гренками, Грибной Стартер, Рулетики с сыром, Картофель из печи, Картофельные оладьи или Греческий салат. Выберите свой вкус!",date:"31 июля."},{title:"Сырный бортик",img:"assets/img/promotions/cheese-board.png",text:"Самое время попробовать «Сырную» пиццу, «Маргариту», пиццу «Овощи и грибы», Пасту Четыре сыра, Томатный суп с гренками, Грибной Стартер, Рулетики с сыром, Картофель из печи, Картофельные оладьи или Греческий салат. Выберите свой вкус!",date:"31 июля."},{title:"Выгодное комбо c напитками",img:"assets/img/promotions/profitable-combo.png",text:"Самое время попробовать «Сырную» пиццу, «Маргариту», пиццу «Овощи и грибы», Пасту Четыре сыра, Томатный суп с гренками, Грибной Стартер, Рулетики с сыром, Картофель из печи, Картофельные оладьи или Греческий салат. Выберите свой вкус!",date:"31 июля."},{title:"Сырный бортик",img:"assets/img/promotions/cheese-board.png",text:"Самое время попробовать «Сырную» пиццу, «Маргариту», пиццу «Овощи и грибы», Пасту Четыре сыра, Томатный суп с гренками, Грибной Стартер, Рулетики с сыром, Картофель из печи, Картофельные оладьи или Греческий салат. Выберите свой вкус!",date:"31 июля."},{title:"Без мяса? Здесь!",img:"assets/img/promotions/without-meat.png",text:"Самое время попробовать «Сырную» пиццу, «Маргариту», пиццу «Овощи и грибы», Пасту Четыре сыра, Томатный суп с гренками, Грибной Стартер, Рулетики с сыром, Картофель из печи, Картофельные оладьи или Греческий салат. Выберите свой вкус!",date:"31 июля."},{title:"Сырный бортик",img:"assets/img/promotions/cheese-board.png",text:"Самое время попробовать «Сырную» пиццу, «Маргариту», пиццу «Овощи и грибы», Пасту Четыре сыра, Томатный суп с гренками, Грибной Стартер, Рулетики с сыром, Картофель из печи, Картофельные оладьи или Греческий салат. Выберите свой вкус!",date:"31 июля."},{title:"Без мяса? Здесь!",img:"assets/img/promotions/without-meat.png",text:"Самое время попробовать «Сырную» пиццу, «Маргариту», пиццу «Овощи и грибы», Пасту Четыре сыра, Томатный суп с гренками, Грибной Стартер, Рулетики с сыром, Картофель из печи, Картофельные оладьи или Греческий салат. Выберите свой вкус!",date:"31 июля."},{title:"Выгодное комбо c напитками",img:"assets/img/promotions/profitable-combo.png",text:"Самое время попробовать «Сырную» пиццу, «Маргариту», пиццу «Овощи и грибы», Пасту Четыре сыра, Томатный суп с гренками, Грибной Стартер, Рулетики с сыром, Картофель из печи, Картофельные оладьи или Греческий салат. Выберите свой вкус!",date:"31 июля."}]

block content
  div.promotion-section
    h3.promotion-section__title Акции
    div.promotion-section__card-block
        each promotionCard in promotionCards
          div.promotion-section__card
            img.promotion-section__card-img(src=promotionCard.img)
            div.promotion-section__description
              div.promotion-section__card-title #{promotionCard.title}
              div.description-style.promotion-section__card-text #{promotionCard.text}
              div.description-style.promotion-section__card-date до #{promotionCard.date}

  include ../blocks/contactsSection
